#Visual paradigm log files
*vpp.bak_*

#Visual paradigm temp file
*.vpp.lck

#Java class files
*.class

#Intellij idea folder and subdirectories
**/.idea

#Intellij project file
*.iml

#Temp files
*~$*

#Target folder
**/.target
